* {
    border: 2px black;
    box-sizing: border-box;
    background-color: lightgray;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#odin {
    text-align: center;
    color: yellow;
    font-weight: bolder;
    font-size: 80px;
    background-color: black;
    text-decoration: underline;
    margin-top: 9px;
}

.lasagna {
    font-size: 40px;
    color: yellow;
    background-color: black;
}

#home {
    font-size: 80px;
    color: yellow;
    background-color: black;
    text-align: center;
    display: block;
    text-decoration: underline;
}

.las {
    color: yellow;
    background-color: black;
    font-size: 40px;
}

.img {
    height: auto;
    width: 500px;
}

.desc {
    background-color: black;
    color: yellow;
    font-size: 30px;
}

.ing {
    background-color: black;
    color: yellow;
    font-size: 30px;
}

.steps {
    background-color: black;
    color: yellow;
    font-size: 30px;
}

.pic {
    height: auto;
    width: 400px;
}
